
    $imgPath: '../../assets/imagePerfil.png';
    
    section#homebg{
        background-image:url(#{$imgPath});
        background-position: 75%;
        background-repeat: no-repeat;
        background-size: 400px;
        // background-color: rgba(0, 0, 0, 0.3);
        // background-blend-mode: multiply;
      }

    main.home{
        width:88%;
        height:100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        position: relative;

        .title{
            width:90%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            position: relative;

            h1{
                font-size:2em;
                font-weight: bold;
                padding: 11px 0;
                margin-left: 12%;
                
              
                &>span {
                    color: rgb(58, 57, 57);
                }

            }
            h1::before{
               content:'';
               position: absolute;
               top: 36%;
               left: 0;
               width:10%;
               height:3px;
               background-color: rgb(24, 153, 31);
               animation: moveElement 2s ease-in-out;
               -webkit-animation: moveElement 2s ease-in-out;

            @keyframes moveElement{
                   0%{ 
                       background-color: rgb(63, 63, 63);
                       width: 0;
                       opacity: 0;
                    }
                   100%{ 
                       width: 10%;
                       opacity: 1;
                    }
               }
            }
            p{
               
                color: rgb(105, 104, 104);
                letter-spacing:0.1em;
                font-size: 14px;
                
            }

            p:nth-child(1){
                color: rgb(139, 139, 139);
                // color: rgb(82, 82, 82);
                animation: moveElementX 1s linear;
                -webkit-animation: moveElementX 1s linear;
            }

            @keyframes moveElementX{
                0%{
                    opacity: 0;
                    transform: translateY(-50px);
                    -webkit-transform: translateY(-50px);
                    -moz-transform: translateY(-50px);
                    -ms-transform: translateY(-50px);
                    -o-transform: translateY(-50px);
                }
                50%{ color:rgb(24, 153, 31);}
                100%{
                    opacity: 1;
                    transform: translateY(0);
                    -webkit-transform: translateY(0);
                    -moz-transform: translateY(0);
                    -ms-transform: translateY(0);
                    -o-transform: translateY(0);
                 }
             }

            p.welcome{
                color: rgb(31, 219, 72);
                animation: moveElementY 1s linear;
                -webkit-animation: moveElementY 1s linear;
            }
            
            
            @keyframes moveElementY{
                0%{
                    opacity: 0;
                    transform: translateY(50px);
                    -webkit-transform: translateY(50px);
                    -moz-transform: translateY(50px);
                    -ms-transform: translateY(50px);
                    -o-transform: translateY(50px);
                }
                100%{
                    opacity: 1;
                    transform: translateY(0);
                    -webkit-transform: translateY(0);
                    -moz-transform: translateY(0);
                    -ms-transform: translateY(0);
                    -o-transform: translateY(0);
                 }
            

            }

            div{
                padding-top: 14px;
                color: rgb(134, 134, 134);
            }


        }

        .description{
            //    background-color:rebeccapurple;
               position: absolute;
               right:-85px;
               width:auto;
               transform:rotate(-90deg);

            p{
                // width:12px;
                height:auto;
                font-size: 11px;
                color: rgba(139, 139, 139, 0.493);
                letter-spacing:.5em;
                direction:rtl;
                // writing-mode:sideways-lr;
                // -webkit-writing-mode:sideways-lr;
                // -ms-writing-mode:sideways-lr;
            }
        } 

        @media screen and (min-width:200px) and (max-width:800px){
        
            .title{
                
                p.welcome{
                    font-size:1.2em;
                }
                p:nth-child(1){
                    color:rgb(255, 254, 254);
                    background-color: rgb(32, 32, 32);
                    padding: 8px 7px;
                }
            }
            .description{
                p{
                    display: none;
                }
            } 
        
            
        }

    }
    