*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  // font-family: 'Spartan', sans-serif;
  font-family: 'Montserrat', sans-serif; 
  // font-size: 13px;
  font-weight: 500;
}

body{
  width: 100%;
  height: 100vh;
  
  background: #000000;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #434343, rgba(0, 0, 0, 0.9));  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #434343, rgba(0, 0, 0, 0.9)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  color: rgb(255, 255, 255);
  display:flex; 
  justify-content: center;
  align-items: center;
}